{% extends 'base.html' %}
{% load staticfiles %}

{# 页面标题 #}
{% block title %}
    {{ blog.title }}
{% endblock %}

{% block nav_blog_active %}active{% endblock %}

 {% block header_extends %}
     <link rel="stylesheet" href="{% static 'Myblog/blog.css' %}">
 {% endblock %}

{# 页面内容 #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h3>{{ blog.title }}</h3>
                <ul class="blog-info-description">
                    <li>作者：{{ blog.author }}</li>
                    <li>分类：<a href="{% url 'Myblog:blogs_with_type' blog.blog_type.id %}">{{ blog.blog_type.type_name }}</a></li>
                    <li>发表日期：{{ blog.ctime|date:"Y-m-d H:i:s" }}</li>
                </ul>
                <div class="blog-content">{{ blog.content }}</div>
                <div class="blog-more">
                    <p>上一篇：
                        {% if previous_blog %}
                            <a href="{% url 'Myblog:blog_detail' previous_blog.id %}">{{ previous_blog.title }}</a>
                        {% else %}
                            没有了
                        {% endif %}
                    </p>
                    <p>下一篇：
                        {% if next_blog %}
                            <a href="{% url 'Myblog:blog_detail' next_blog.id %}">{{ next_blog.title }}</a>
                        {% else %}
                            没有了
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
