a.header {
    color: #2a5786;
    font-size: 1.1em;
    font-weight: 900;
    line-height: 0.2em;
}

.meta {
     color: #888888;
}

.description {
     color: #4a4a4a;
}

button.glyphicon-play{
    /*margin-top:-10em;*/
    top: -1.5em;
    left: 0.2em;
    font-size: xx-large;
    background: none;
    border: none;
    color: #e0e9e9;
}

.header-banner {
    text-align: center;
    min-height: 257px;
    position: relative;
    margin-top: -30px;
    padding-top: 75px;
    margin-bottom: 20px;
    background-color: #4F5893;
}

.header-banner h1 {
    font-size: 3em;
    color: #f6f6f6;
    margin-bottom: 12px;
}

.header-banner p {
    font-weight: 300;
    line-height: 1.4;
    font-size: 1.5em;
    color: #B9BFE4;
    margin: 5px 0;
}
