* {
    margin: 0;
    padding: 0;
}
body{
    margin-top: 70px!important;
}

ul{
    list-style-type: none;
}

ul.navbar-right{
    margin-right: -2em;
}

.search-form {
    display: flex;
    width: 100%!important;
    margin-left: 0!important;
}

.search-form.form-group {
    width: 100%;
}

div.footer {
    margin-top: 3em;
    background-color: #e4e3ee;
    color: #555;
}

/*div.navbar {*/
/*    background-color: #9dbdd1;*/
/*}*/

div.website-info {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1.5em;
}

div.website-info p {
    margin-bottom: 0;
}

.page-bottom{
    position:absolute;  /*或者fixed*/
    bottom:0;
    width: 100%;
}

.unread-count {
    background-color: #d9534f!important;
}

button.glyphicon-search{
    right:2em;
    background: none;
    border: none;
    color: #aaa;
}


/*这个废弃了，用bootstrap代替了css*/
/*div.nav {*/
    /*background: #bdd1e2;*/
    /*border-bottom: 1px solid #ff618c;*/
    /*padding: 10px 5px;*/
/*}*/
/*div.nav a{*/
    /*text-decoration: none;*/
    /*color: #31788e;*/
    /*padding: 5px 10px;*/
/*}*/
/*div.nav a.logo{*/
    /*display: inline-block;*/
    /*font-size: 120%;*/
/*}*/